@import "./core/_reset.scss";
@import "./core/_mixing.scss";
@import "./core/_variables.scss";

.page {
  background-color: $color-background;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  flex-wrap: wrap;
  display: flex;
  flex-direction: column;

  &__wrapper {
    width: 15em;
    margin: auto;
    @include tablet {
      width: 30em;
    }
    @include desktop {
      width: 35em;
    }
  }

  &__title {
    color: $color-icon;
    margin-bottom: 1em;
    font-size: 1em;
    @include tablet {
      font-size: 2em;
      margin-top: 1em;
    }
    @include desktop {
      font-size: 2.7em;
    }
  }

  &__paragraph {
    color: $color-font;
    margin-bottom: 0.9em;
    font-size: 0.8em;
    @include tablet {
      font-size: 1em;
    }
    @include desktop {
      font-size: 1.5em;
    }
  }

  &__buttons {
    display: flex;
    justify-content: center;
  }

  &__button {
    background-color: $color-detail;
    border-radius: 30%;
    padding: 1em;
    border: 1px solid $color-icon;
    color: $color-icon;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 1em;
    font-weight: bolder;
    font-size: 0.7em;
    @include tablet {
      font-size: 0.8em;
      padding: 1em;
    }

    &:hover {
      background-color: $color-hover;
      transform: scale(1.05);
    }
  }
}
