// fonts
$font-main: "Open Sans", sans-serif;

// colors
$color-background: #ffdb7b;
$color-icon: #b53d2f;
$color-secundary: #ff8d3d;
$color-detail: #ffa649;
$color-hover: #ff8d3d;
$color-input: #ffb95f;
$color-font: #0b0100;
